{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <!-- Page Title -->
    <div class="mb-4">
        <h2 class="fw-bold text-primary">Create RTI Request</h2>
        <p class="text-muted">Department of Rural Development & Panchayat Raj</p>
    </div>


    <!-- Form Card -->
    <div class="card shadow-sm">
        <div class="card-body">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Please fix the errors below.</strong>
                        {{ form.errors }}
                </div>
                {% endif %}


                <!-- Applicant Name -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Applicant Name</label>
                    {{ form.applicant_name }}
                </div>

                <!-- Reference Number -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Reference Number</label>
                    {{ form.reference_number }}
                </div>

                <!-- Date Filed -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Date Filed</label>
                    {{ form.date_filed }}
                </div>

                <!-- Panchayat -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Select Panchayat</label>
                    {{ form.panchayat }}
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">RTI Subject</label>
                    {{ form.subject }}

                </div>
                <hr>
                <h5 class="text-primary">Documents</h5>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Upload Original RTI (PDF)</label>
                    {{ form.original_application }}
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Upload Acknowledgement (PDF)</label>
                    {{ form.acknowledgement_document }}
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Acknowledgement Date</label>
                    {{ form.acknowledgement_date }}
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Upload Response (PDF)</label>
                    {{ form.response_document }}
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Response Date</label>
                    {{ form.response_date }}
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-between mt-4">
                    <a href="/" class="btn btn-secondary">
                        ← Back
                    </a>

                    <button type="submit" class="btn btn-primary">
                        Submit RTI
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}

